
<a href="/shop">back to shop</a>

<section>
  <form action="">
    <form action="" method="get" class="form-example">
      <div>
        <label for="name"> Intitulé du produit : </label>
        <input type="text" name="name_product" id="name_product" required>
      </div>
      <div>
        <label for="description">Description : </label>
       <textarea name="description" id="" cols="30" rows="10"></textarea>
      </div>
      <div>
        <input type="submit" value="Ajouter ce produit">
      </div>
    </form>
  </form>
</section>
