<a href="/shop">back to shop</a>

<section>
    <form action="">
        <form action="" method="get" class="form-example">

            <label for="name"> Intitulé du produit : </label>
            <input type="text" name="name_product" id="name_product" required>


            <label for="description">Description : </label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>

            <label for="categorie">Catégorie:</label>

            <select name="option-categorie" id="">
                <option value="option">--Choissisez une option--</option>
                <option value="animaux">Animaux</option>
                <option value="multimedia">Multimédia</option>
                <option value="vetement">Vêtement</option>

            </select>


            <label for="price">Votre prix:</label>
            <input type="text" name="price" id="price" required>

            <label for="name"> Votre prénom : </label>
            <input type="text" name="user_name" id="price" required>

            <input type="submit" value="Ajouter ce produit">

        </form>
    </form>
</section>